---
---

<div>
  <p>
    Here are a few things you might see here:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Tutorials.</strong>
      Mostly about web development.
    </li>
    <li>
      <strong>Blogs.</strong>
      Maybe...
    </li>
    <li>
      <strong>Notes.</strong>
      I like to write things down for my own usage.
    </li>
  </ul>
</div>
